@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global theme color variables */
:root {
  --hrms-primary: #1A365D;
  --hrms-accent: #ED8936;
  --hrms-background: #F7FAFC;
  --hrms-sidebar: #1A365D;
  --hrms-text-primary: #2D3748;
  --hrms-hover: #ffa94d;
  --hrms-buttontext: #FFFFFF;
  --hrms-header: #FFFFFF;
}

/* Custom text and bg utilities for dynamic color variables */
.text-hrms-header    { color: var(--hrms-header) !important; }
.text-hrms-buttontext{ color: var(--hrms-buttontext) !important; }
.bg-hrms-primary     { background-color: var(--hrms-primary) !important; }
.bg-hrms-accent      { background-color: var(--hrms-accent) !important; }
.bg-hrms-sidebar     { background-color: var(--hrms-sidebar) !important; }
.bg-hrms-hover:hover { background-color: var(--hrms-hover) !important; }
.text-hrms-text-primary { color: var(--hrms-text-primary) !important; }
.bg-hrms-background  { background-color: var(--hrms-background) !important; }


/* Use Nunito Sans with fallbacks */
body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F0FFF4; /* hrms-background */
  color: #2D3748;            /* hrms-text */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
